<%- include ('partials/head.html') %>

    <body>
        <%- include ('partials/navigation.html') %>
            <h1 class="marginNvL text-BlacK"></h1>



                    <article class="animate__animated animate__flipInY col-md-4 offset-md-4">
                        <div class="card">
                            <div class="card-header bg-dark text-white
                                text-center">
                                <h1>Gracias por usar el Asistente del bot</h1>
                            </div>
                            <div class="card-body">
                                
                                    <div class="container">
                                        <h1>¡Gracias por registrarte!</h1>
                                        <p>Tu información ha sido recibida y estamos procesándola.</p>
                                    </div>
                            </div>
                        </div>
                    </article>
      
            <%- include ('partials/footer.html') %>